@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root{
    /* Colores */
    --color-verde:#7CBD1E; 
    --color-verdeAgua: #C0FFB3;
    --color-gris:#999;
    --color-blanco:white;
    --color-negro:black;
    /*contenedores*/
    --sombra:-4px 4px 5px var(--color-gris);
    --borde:1px solid var(--color-gris);
}
html, body{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    background-color: var(--color-verde);
    padding: 15px;
    color: var(--color-blanco);
    justify-content: space-between;
    align-content: center;
}
nav ul{
    display: flex;
}
nav li{
    padding-left: 10px;
    
    list-style: none;
}

nav li a{
    color: var(--color-negro);
    text-decoration: none;
}

nav li a:hover{
    color: var(--color-blanco);    
}

.principal{
    padding-bottom: 160px;
    padding-top: 40px;

    text-align: center;
  
    
}

.contenedor_producto{
    height: 100vh;
    width: 100%;
    position: absolute;
}
.productos{
    background-image: url("../imagenes/fondo_cont.png");
    height: 40%;
    background-size: cover;
    background-position: center top;
    display: flex; /* Ajusta a las pantallas */

    position:absolute; /* Permite sacarlo del flujo normal asi podemos darle 
    la posicion que queremos con los comandos de abajo*/
    bottom:0px;
    width: 100%;
    justify-content: center;
}

.caja-productos{
    padding: 5%;
    margin-top: -14%;
    width: 20%;
}

.caja-productos .producto {
  padding: 10px;
  background-color:var(--color-blanco);
  border-radius: 20px;
  box-shadow: var(--sombra); 
  border: var(--borde);
}

.img-contenido{
    text-align:center;
}

.responsive{
    width: 50%;
    height: auto;
}
.boton{
    background:var(--color-verdeAgua);
    width: 80%;
    margin-left: 10%; 
    padding: 10px;
    border-radius: 22px;
    font-size: 17px;
    cursor: pointer;
}
.boton:hover{
    background-color: var(--color-verde); 
}