/* Importar de google font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* ------------------------------ */

/* Variables en CSS*/
:root{
    /* Colores */
    --color-verde:#7CBD1E; 
    --color-verdeAgua: #C0FFB3;
    --color-gris:#999;
    --color-blanco:white;
    --color-negro:black;
    --color-verdoso:#3C9D9B; 
    /*contenedores*/
    --sombra:-4px 4px 5px var(--color-gris);
    --borde:1px solid var(--color-gris);
    /* contenedor cuadrado*/
    --borde2: 0px solid var(--color-gris);
}
/* ------------------------------ */


/* css para componentes genericos*/
html, body{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

nav{
    display: flex;
    background-color: var(--color-verde);
    padding: 15px;
    color: var(--color-blanco);
    justify-content: space-between;
    align-content: center;
}
nav ul{
    display: flex;
}
nav li{
    padding-left: 10px;
    
    list-style: none;
}

nav li a{
    color: var(--color-negro);
    text-decoration: none;
}

nav li a:hover{
    color: var(--color-blanco);    
}
/* ------------------------------ */


/* CSS para Index */
.principal{
    padding-bottom: 160px;
    padding-top: 40px;

    text-align: center;
  
    
}


.productos{
    background-image: url("../imagenes/fondo_cont.png");
    background-size: cover;
    background-position: center top;
    display: flex; /* Ajusta a las pantallas */
    position:relative; 
    height: 56.5vh;
    width: 100%;
    justify-content: center;
}

.caja-productos{
    padding: 5%;
    margin-top: -8%;
    width: 20%;
}

.caja-productos .producto {
  padding: 10px; 
  background-color:var(--color-blanco);
  border-radius: 20px;
  box-shadow: var(--sombra); 
  border: var(--borde);
}

.img-contenido{
    text-align:center;
}

.responsive{
    width: 50%;
    height: auto;
}

.responsive2{
    width: 70%;
    height: auto;
}
.boton{
    background:var(--color-verdeAgua);
    width: 80%;
    margin-left: 10%; 
    padding: 10px;
    border-radius: 22px;
    font-size: 17px;
    cursor: pointer;
}
.boton:hover{
    background-color: var(--color-verde); 
}
.seccion2{
    position:relative;
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100%;

}
.caja_ani .ani{

    margin: 40px 30px 0px 30px;
}
.ani{
    padding:0 20px 20px 20px; 
    text-align: center;
}
.img_ani{
    text-align:center;
}

.seccion3{
 position: relative;
 display: flex;
 height: 50vh;
 width: 100%;
 justify-content: center;
}
.caja_men .men{
    margin: 0px 30px 0px 30px;
    background-color:var(--color-blanco);
    border-radius: 20px;
    box-shadow: var(--sombra); 
    border: var(--borde);
}

.men{
    padding: 0 50px 0px 50px; 
    text-align: center;    
}
/* ------------------------------ */


/* CSS del Footer*/
footer{

    background:#3C9D9B;
    display: flex; 
}

.nombre {
 margin-left: auto;
}
/* ------------------------------ */





/* CSS para ventas */
.modulo-pago{
    box-shadow: var(--sombra); 
    border: var(--borde);
    padding: 10px;
}

.modulo-imagen{
    text-align: center;
}


/* ------------------------------ */



/*Para prueba de las cajas*/
.color{
    background-color: aqua;
}
/* ------------------------------ */